#firstpage {
    border-style: none;
    width: 35em; 
    height: 18.75em; 
    font-size: 1.3em;
    text-align: left;
    line-height: 1.4em;
    position: relative;
    font-family: 'Courier New', Courier, monospace;

}
h1 {
    text-align: center;
}

#firstlist {
    margin-left: 1em; 
    font-family: 'Courier New', Courier, monospace;
}

.pekarna{
    height: 4em;
    width: 30.7em;
    background-color: white;
    font-size: 55px;
    color: black;
}