.menu-row {
    background-color: whitesmoke;
}

.menu-btn {
    background-color: whitesmoke;
    color: black;
    padding: 0.6em 1.2em;
    border: none;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em;
    cursor: pointer;
}

.menu-btn:hover {
    color: red;
}

.logo {
    position: absolute;
    top: 1.2em;
    left: 0em;
    width: 2em; 
}