#firstpage {
    border-style: none;
    width: 35em; 
    height: 18.75em; 
    font-size: 1.3em;
    text-align: left;
    line-height: 1.4em;
    position: relative;
    font-family: 'Courier New', Courier, monospace;

}

#img {
    position: absolute;
    left: 43em; 
    top: 6em;
    width: 27em; 
}

h1 {
    text-align: center;
}

#firstlist {
    margin-left: 1em; 
    font-family: 'Courier New', Courier, monospace;
}

#secondlist {
    border-style: none;
    width: 30em; 
    font-size: 1.3em; 
    text-align: left;
    position: relative;
    margin-left: 47em; 
    font-family: 'Courier New', Courier, monospace;
}

#secondimg {
    position: absolute;
    right: 29em; 
    width: 22em; 
}

#secondpage {
    line-height: 1.5625em;
    font-family: 'Courier New', Courier, monospace; 
}
